.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
}

table tr {
  display: flex;
}

table td {
  display: block;
}

table .item-1 {
  flex-grow: 1;
}

  table .item-1 input {
    width: 100%;

    appearance: default;
    background: none;
    color: inherit;
    font: inherit;

    border: none;
    border-bottom: 1px solid white;
  }